{
  "l2_config": {
    "endpoint": "{{L2_ENDPOINT}}",
    "disable_l2_watcher": true,
    "relayer_config": {
      "sender_config": {
        "endpoint": "{{ANVIL_RPC}}",
        "check_balance": false,
        "dry_run": false,
        "tx_type": "DynamicFeeTx",
        "escalate_blocks": 10,
        "escalate_multiple_num": 11,
        "escalate_multiple_den": 10,
        "confirmations": "0x0",
        "max_gas_price": 10000000000000,
        "max_blob_gas_price": 10000000000000,
        "min_gas_tip": 0,
        "check_pending_time": 60,
        "max_pending_blob_txs": 3,
        "fusaka_timestamp": 9999999999,
        "chain_nonce_only": true
      },
      "commit_sender_signer_config": {
        "signer_type": "PrivateKey",
        "private_key_signer_config": {
          "private_key": "{{COMMIT_KEY}}"
        }
      },
      "finalize_sender_signer_config": {
        "signer_type": "PrivateKey",
        "private_key_signer_config": {
          "private_key": "{{FINALIZE_KEY}}"
        }
      },
      "rollup_contract_address": "{{SCROLL_CHAIN}}",
      "batch_submission": {
        "min_batches": 1,
        "max_batches": 1,
        "timeout": 7200,
        "backlog_max": 200,
        "blob_fee_tolerance": 500000000
      },
      "gas_oracle": {
        "enabled": false
      },
      "chain_monitor": {
        "enabled": {{CHAIN_MONITOR_ENABLED}}
      },
      "batch_committer": {
        "enable_test_env_bypass_features": true
      },
      "validium_mode": {{VALIDIUM_MODE}}
    },
    "chunk_proposer_config": {
      "propose_interval_milliseconds": 10000,
      "max_l2_gas_per_chunk": 100000000,
      "chunk_timeout_sec": 900,
      "max_uncompressed_batch_bytes_size": 63488,
      "disable": true
    },
    "batch_proposer_config": {
      "propose_interval_milliseconds": 10000,
      "batch_timeout_sec": 1800,
      "max_chunks_per_batch": 15,
      "max_uncompressed_batch_bytes_size": 129024,
      "disable": true
    },
    "bundle_proposer_config": {
      "max_batch_num_per_bundle": 30,
      "bundle_timeout_sec": 3600,
      "disable": true
    },
    "blob_uploader_config": {
      "start_batch": 0
    }
  },
  "db_config": {
    "dsn": "{{DB_DSN}}"
  }
}
