# Asset files
assets/params*
assets/seed

# Built binaries
build/bin

coverage.txt
*.integration.txt

# Visual Studio Code
.vscode

# IntelliJ
.idea

# MacOS
.DS_Store

# misc
sftp-config.json
*~

# Build contracts
./contracts/openzeppelin
