[submodule "l2geth"]
	path = l2geth
	url = git@github.com:scroll-tech/go-ethereum.git
[submodule "rollupscan/backend/third-paries/scroll"]
	path = rollupscan/backend/third-paries/scroll
	url = git@github.com:scroll-tech/scroll.git
