{
  "printWidth": 120,
  "singleQuote": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "src/**/*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    },
    {
        "files": "scripts/**/*.sol",
        "options": {
          "printWidth": 120,
          "tabWidth": 4,
          "useTabs": false,
          "singleQuote": false,
          "bracketSpacing": false
        }
      }
  ]
}
