name: Bridge

on:
  push:
    branches:
      - main
      - staging
      - develop
      - alpha
    paths:
      - 'bridge/**'
      - '.github/workflows/bridge.yml'
  pull_request:
    branches:
      - main
      - staging
      - develop
      - alpha
    paths:
      - 'bridge/**'
      - '.github/workflows/bridge.yml'

defaults:
  run:
    working-directory: 'bridge'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.x
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install Solc
      uses: supplypike/setup-bin@v3
      with:
        uri: 'https://github.com/ethereum/solidity/releases/download/v0.8.16/solc-static-linux'
        name: 'solc'
        version: '0.8.16'
    - name: Install Geth Tools
      uses: gacts/install-geth-tools@v1
    - name: Lint
      run: |
        rm -rf $HOME/.cache/golangci-lint
        make mock_abi
        make lint
  goimports-lint:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.x
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install goimports
      run: go install golang.org/x/tools/cmd/goimports
    - run: goimports -local scroll-tech/bridge/ -w .
    - run: go mod tidy
    # If there are any diffs from goimports or go mod tidy, fail.
    - name: Verify no changes from goimports and go mod tidy
      run: |
        if [ -n "$(git status --porcelain)" ]; then
          exit 1
        fi
  # docker-build:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v2
  #   - name: Set up Docker Buildx
  #     uses: docker/setup-buildx-action@v2
  #   - run: make docker
