name: Docker

on:
  push:
    tags:
      - v**

jobs:
  event_watcher:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push event_watcher docker
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./build/dockerfiles/event_watcher.Dockerfile
          push: true
          tags: |
            scrolltech/event-watcher:${{github.ref_name}}
            scrolltech/event-watcher:latest
          # cache-from: type=gha,scope=${{ github.workflow }}
          # cache-to: type=gha,scope=${{ github.workflow }}
  gas_oracle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push gas_oracle docker
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./build/dockerfiles/gas_oracle.Dockerfile
          push: true
          tags: |
            scrolltech/gas-oracle:${{github.ref_name}}
            scrolltech/gas-oracle:latest
          # cache-from: type=gha,scope=${{ github.workflow }}
          # cache-to: type=gha,scope=${{ github.workflow }}
  rollup_relayer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push rollup_relayer docker
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./build/dockerfiles/rollup_relayer.Dockerfile
          push: true
          tags: |
            scrolltech/rollup-relayer:${{github.ref_name}}
            scrolltech/rollup-relayer:latest
          # cache-from: type=gha,scope=${{ github.workflow }}
          # cache-to: type=gha,scope=${{ github.workflow }}
  bridgehistoryapi-fetcher:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push bridgehistoryapi-fetcher docker
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./build/dockerfiles/bridgehistoryapi-fetcher.Dockerfile
        push: true
        tags: |
          scrolltech/bridgehistoryapi-fetcher:${{github.ref_name}}
          scrolltech/bridgehistoryapi-fetcher:latest
        # cache-from: type=gha,scope=${{ github.workflow }}
        # cache-to: type=gha,scope=${{ github.workflow }}
  bridgehistoryapi-api:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push bridgehistoryapi-api docker
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./build/dockerfiles/bridgehistoryapi-api.Dockerfile
        push: true
        tags: |
          scrolltech/bridgehistoryapi-api:${{github.ref_name}}
          scrolltech/bridgehistoryapi-api:latest
        # cache-from: type=gha,scope=${{ github.workflow }}
        # cache-to: type=gha,scope=${{ github.workflow }}
  coordinator-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push coordinator docker
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./build/dockerfiles/coordinator-api.Dockerfile
          push: true
          tags: |
            scrolltech/coordinator-api:${{github.ref_name}}
            scrolltech/coordinator-api:latest
          # cache-from: type=gha,scope=${{ github.workflow }}
          # cache-to: type=gha,scope=${{ github.workflow }}
  coordinator-cron:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push coordinator docker
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./build/dockerfiles/coordinator-cron.Dockerfile
          push: true
          tags: |
            scrolltech/coordinator-cron:${{github.ref_name}}
            scrolltech/coordinator-cron:latest
          # cache-from: type=gha,scope=${{ github.workflow }}
          # cache-to: type=gha,scope=${{ github.workflow }}
