name: Intermediate Docker

on:
  workflow_dispatch:
    inputs:
      GO_VERSION:
        description: 'Go version'
        required: true
        type: string
        default: '1.21'
      RUST_VERSION:
        description: 'Rust toolchain version'
        required: true
        type: string
        default: 'nightly-2023-12-03'
      PYTHON_VERSION:
        description: 'Python version'
        required: false
        type: string
        default: '3.10'
      CUDA_VERSION:
        description: 'Cuda version'
        required: false
        type: string
        default: '11.7.1'

defaults:
  run:
    working-directory: 'build/dockerfiles/intermediate'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    #cuda-go-rust-builder
    - name: Build image
      id: build
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        file: build/dockerfiles/intermediate/cuda-go-rust-builder.Dockerfile
        platforms: linux/amd64,linux/arm64
        tags: scrolltech/cuda-go-rust-builder:${{ github.event.inputs.CUDA_VERSION }}
        build-args: |
          CUDA_VERSION: ${{ github.event.inputs.CUDA_VERSION }}
          GO_VERSION: ${{ github.event.inputs.GO_VERSION }}
          RUST_VERSION: ${{ github.event.inputs.RUST_VERSION }}
